<h1 class="text-center">Detalhes</h1>

  <table class="table">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titulo</th>
    </tr>
    <tr>
      <td scope="col">{{nota?.id}}</td>
      <td scope="col">{{nota?.titulo}}</td>
    </tr>
  </table>
  <textarea name="conteudo" id="conteudo" cols="150" rows="10" disabled>
    {{nota?.conteudo}}
  </textarea>
<!-- -------------------------- categorias ------------------------ -->
<hr>
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-md-10">
        <h2 class="text-center">Tags associadas</h2>
      </div>
      <div class="col-md-2">
        <a class="nav-link btn " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/notas/addCategoria',nota?.id]">
          <fa-icon [icon]="['fas', 'plus-circle']" size="2x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-info text-center" *ngIf="categorias?.length == 0; else loopTemplate">
        Nenhuma tag cadastrada
      </div>
      <ng-template #loopTemplate>
        <ul class="list-group">
          <li class="list-group-item text-center bg-primary text-white my-1"  *ngFor="let c of categorias">
            {{ c?.nome }}
            <button class="detalhes-link btn btn-danger btn-sm mx-3" (click)="desassociarTag(c?.id)">
              <fa-icon [icon]="['fas', 'trash-alt']" size="2x"></fa-icon>
            </button>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>


