<div class="row" *ngIf="notas$ | async as notas; else loading">
  <div class="alert alert-info text-center" *ngIf="notas.length == 0; else loopTemplate">
    Nenhuma anotação cadastrada
  </div>
  <ng-template #loopTemplate>
    <div class="col-md-4 my-2" *ngFor="let nota of notas">
         <nota-card
         [id] = "nota.id"
         [titulo] = "nota.titulo"
         [conteudo] = "nota.conteudo"
         (edit)="OnChildrenEdit($event)"
         (delete)="OnChildrenDelete($event)">
        </nota-card>
    </div>
  </ng-template>
</div>

<ng-template #loading>
    <div *ngIf="error$ | async; else loadingTemplate" class="alert alert-danger text-center">
      Erro no carregamento das notas.
      <button class="btn btn-block btn-warning btn-sm mx-2" (click)="onRefresh()">Tente novamente</button>
    </div>
    <ng-template #loadingTemplate>
      <div class="alert alert-primary text-center">Carregando........</div>
    </ng-template>
</ng-template>

<!-- <ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar esse registro?</p>
    <button type="button" class="btn btn-success mx-2" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-danger mx-2" (click)="onDeclineDelete()" >Não</button>
  </div>
</ng-template> -->
