<div class="row">
  <a [routerLink]="['novo']" class="btn btn-sm btn-primary my-2">Cadastrar Tags</a>
</div>
<div class="row" *ngIf="tags$ | async as tags; else loading">
  <div class="alert alert-info text-center" *ngIf="tags.length == 0; else loopTemplate">
    Nenhuma tag cadastrada
  </div>
  <ng-template #loopTemplate>
    <ul class="list-group">
      <li class="list-group-item text-center"  *ngFor="let tag of tags">
        {{ tag.nome }}
        <!-- <span class="badge bg-primary rounded-pill">1</span> -->
        <div class="float-right">
          <button class="detalhes-link btn btn-warning btn-sm mx-1" (click)="onEdit(tag.id)">
            <fa-icon [icon]="['fas', 'edit']" size="2x"></fa-icon>
          </button>
          <button class="detalhes-link btn btn-danger btn-sm mx-1" (click)="onDelete(tag.id)">
            <fa-icon [icon]="['fas', 'trash-alt']" size="2x"></fa-icon>
          </button>
        </div>
      </li>
    </ul>
  </ng-template>
</div>

<ng-template #loading>
  <div *ngIf="error$ | async; else loadingTemplate" class="alert alert-danger text-center">
    Erro no carregamento das tags.
    <button class="btn btn-block btn-warning btn-sm mx-2" (click)="onRefresh()">Tente novamente</button>
  </div>
  <ng-template #loadingTemplate>
    <div class="alert alert-primary text-center">Carregando........</div>
  </ng-template>
</ng-template>
